.vertical-line {
    margin-right: 5px;
    margin-left: 5px;
    border-left: 2px solid #808080;
    height: 40px;
}

.sign-form {
    margin-bottom: 10px;
}

.admin-form-width {
    width: 40%;
}

#admin-email {
    margin-top: 10px;
}

#admin-sign-form {
    margin-left: 30%;
}